body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.floor3Grid{
  /* width: 1280px;
  height: 560px; */
  z-index: 9;
}

.gridboardGrid{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
}

.gridContainer{
  width: 1280px;
  height: 560px;
  position: relative;
  margin-left: 240px;
}


.cellNoWallStyle {
  background-color: undefined;
  /* border: solid 2px purple; */
  width: 40px;
  height: 40px;
}

.sensorGrid {
  background-color: lightcoral;
  /* border: solid 2px purple; */
  width: 40px;
  height: 40px;
}


:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
.heatmap-container {
  position: relative;
  width: 1280px;
  height: 560px;
  background-image: url("./images/iot-crop1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: minmax(0, 1fr);
  margin-right: 10%;
}
.grid-container {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* repeat columns of the grid, where var(--grid-cols) represents the number
  of columns and 40px represents size of a cell*/
  grid-template-columns: repeat(var(--grid-cols), 40px);
  /* grid-template-columns: repeat(autofit, minmax(0, 1fr)); */
}

.grid-item {
  /* padding: 0%; */
  width: 40px;
  height: 40px;
}
.content {
  margin-left: 240px;
  margin-right: 10%;
}

